/* ===== HEADER ===== */

        /* Navigation Menu */
        .navigation{
            font-family: 'Figtree', sans-serif;
            font-size: 20px;
            color: white;
            background-color: #3364B2;
            list-style-type: none;
            text-align: center;
            width: 98%; 
            height: 20%;
            padding: 1%;
            padding-top: 50px;
            margin: 0 auto;
            cursor: pointer;
            }

        li{
            padding: 3px 15px;
            }

        .inline-block {
            display: inline-block;
            vertical-align: top;
            }


/* ===== HERO PAGE ===== */
        #grid{
            background-color:#F8F3DF;
            display: grid;
            height: 580px;
            width:fit-content;
            grid-template-columns: repeat(3,1fr 2fr);
            margin: 0 auto;
            background-color: #F8F3DF;
            padding-left: 20%;
            padding-top: 50px;
            padding-bottom: 20px;
            }


        .logo{
            padding: 1%;
            text-align: center;
            }

        .heroImg{
            padding: 4%;
            padding-right: 70%;
            grid-column: 1/2;
            }

        /* Main title header */
        h1{
            font-size: 100px;
            margin: 0;
            padding: 2%;
            padding-left: 0;
            text-align: center;
            border: solid;
            font-family: 'Figtree',sans-serif;
            }

        /* Body paragraph text */
        .text{
            font-family: 'Figtree', sans-serif;
            background-color: #F8F3DF;
            color: #3364B2;
            width: 550px;
            height: 550px;
            padding: 3%;
            padding-left: 20%;
            padding-top: auto;
            margin: 0;
            }

        p{
            padding: 2px;
            }

        .button1 {
            background-color: #3364B2; 
            border: none;
            border-radius: 12px;
            color: white;
            padding: 12px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            font-family: 'Figtree', sans-serif;
            cursor: pointer;
            }


/* ===== ABOUT ME PAGE ===== */
        

        .flexContainer1{
            display: flex;
            flex-direction: column;
            width: 23%;
            background-color: blue;
            align-items:flex-end;
        }

        .centreHeader{
            align-items: center;
            width: 23%;
            background-color: aqua;
        }

        h2{
            font-family: 'Figtree', sans-serif;
            letter-spacing: 0.2em;
            font-size: 24px;
        }


/* ===== FOOTER ===== */
        .footer {
            margin: 0 auto;
            font-family: 'Figtree', sans-serif;
            font-size: 10px;
            color: white;
            background-color: #3364B2;
            display: inline-block;
            text-align: center;
            vertical-align: bottom;
            width: 98%; 
            padding: 1%;
            }
