/* ===== HEADER ===== */

        /* Navigation Menu */
        .navigation{
            font-family: 'Figtree', sans-serif;
            font-size: 20px;
            color: white;
            background-color: #3364B2;
            list-style-type: none;
            text-align: center;
            width: 98%; 
            height: 20%;
            padding: 1%;
            padding-top: 50px;
            margin: 0 auto;
            cursor: pointer;
            }

        li{
            padding: 3px 15px;
            }

        .inline-block {
            display: inline-block;
            vertical-align: top;
            }


/* ===== HERO PAGE ===== */
        #grid{
            background-color:#F8F3DF;
            display: grid;
            height: 580px;
            width:fit-content;
            grid-template-columns: repeat(3,1fr 2fr);
            margin: 0 auto;
            background-color: #F8F3DF;
            padding-left: 20%;
            padding-top: 50px;
            padding-bottom: 20px;
            }


        .logo{
            padding: 1%;
            text-align: center;
            }

        .heroImg{
            padding: 4%;
            padding-right: 70%;
            grid-column: 1/2;
            }

        /* Main title header */
        h1{
            font-size: 100px;
            margin: 0;
            padding: 2%;
            padding-left: 0;
            text-align: center;
            border: solid;
            font-family: 'Figtree',sans-serif;
            }

        /* Body paragraph text */
        .text{
            font-family: 'Figtree', sans-serif;
            background-color: #F8F3DF;
            color: #3364B2;
            width: 550px;
            height: 550px;
            padding: 3%;
            padding-left: 20%;
            padding-top: auto;
            margin: 0;
            }

        p{
            padding: 2px;
            font-family: 'Figtree', sans-serif;
            }

        .button1 {
            background-color: #3364B2; 
            border: none;
            border-radius: 12px;
            color: white;
            padding: 12px 25px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            font-family: 'Figtree', sans-serif;
            cursor: pointer;
            }

/* ===== ABOUT ME PAGE ===== */
            .aboutMe{
                align-items: center;
                margin: auto;
            }

            .grid-container-aboutMe {
                background-color: #fafafa;
                margin: auto;
                height: 800px;
                display: grid;
                grid-column-gap: 100px;
                grid-template-rows: 150px 500px;
                grid-template-areas: 
                    "workexperience tools"
                    "workexperience skills";
                padding-top: 50px;

            }

            .workexperience {
                font-family: 'Figtree', sans-serif;
                grid-area: workexperience;
                align-items: flex-end;
                text-align: end;
            }

            .tools{
                font-family: 'Figtree', sans-serif;
                grid-area: tools;
            }

            .skills{
                font-family: 'Figtree', sans-serif;
                grid-area: skills;
                padding-top: 35px;
            }

            .inlineBlock{
                display: inline-block;
                width: 230px;
            }

            .inlineBlock1{
                display: inline-block;
                width: 230px;
            }

            .inlineBlock2{
                display: inline-block;
                width: 230px;
            }

            .inlineBlock3{
                display: inline-block;
                width: 230px;
            }

            .h4{
                font-family: 'Figtree', sans-serif;
                margin: -100px;
            }



/* ===== PROJECTS ===== */
            .sectionProject{
                background-color: #3364B2;
                padding-top: 80px;
            }

            .projects{
                width: 500px;
                margin-top: 30px;
                padding: 0.3%;
                margin: auto;
                color: #F8F3DF;
                }

            .workGrid{
                color: #F8F3DF;
                font-family: 'Figtree', sans-serif;
                display: flex;
                height: 1000px;
                width:1200px;
                margin: 0px auto;
                padding-top: 50px;
                padding: 20px;
            }

            .saveAPet{
                padding-top: 50px;
                padding-right: 50px;
            }

            .deptOfHealth{
                padding-top: 50px;
                padding-right: 50px;
            }

            .trvlr{
                padding-top: 50px;
            }

            .button2 {
                display: block;
                background-color: #F8F3DF; 
                border: none;
                border-radius: 12px;
                color: #3364B2;
                padding: 8px 20px;
                margin-top: 10px;
                text-align: center;
                text-decoration: none;
                font-size: 14px;
                font-family: 'Figtree', sans-serif;
                cursor: pointer;
                }

            h5{
                font-size: 18px;
                margin-top: 12px;
                margin-bottom: 0px;
            }

            h6{
                font-size: 14px;
                margin-bottom: 4px;
            }

            .userGoal{
                font-size: 14px;
            }



/* ===== FOOTER ===== */
        .footer {
            margin: 0 auto;
            font-family: 'Figtree', sans-serif;
            font-size: 14px;
            color: #3364B2;
            background-color: #F8F3DF;
            display: inline-block;
            text-align: center;
            vertical-align: bottom;
            width: 98%; 
            padding: 1%;
            }
